{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
{% csrf_token %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Some React App</title>
</head>

<body>
    <div id="root"></div>
    {% render_bundle 'main' %}
    {% render_bundle 'runtime~main' %}
    {% render_bundle 'undefined' %}
</body>

</body>

</html>
